{% load staticfiles %}

<div id="home" class="banner">
    <div class="banner-image"></div>
    <div class="banner-caption">
        <div class="container object-non-visible" data-animation-effect="fadeIn">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <img src="{% static "images/getstarted_complet.png" %}" alt="Get Started">
                      </div>
                    </div>

                    <h1 class="lead text-center" style="margin-bottom:0">LUNDI 15 FÉVRIER 2016</h1>
                    <p class="text-center smooth-scroll">
                        <a title="Comment s'y rendre ?" href="https://www.polytechnique.edu/fr/accesetorientation">École polytechnique, Palaiseau</a><br />
                    </p>
                    <br />
                    <a href="register" type="button" class="btn btn-success btn-lg ">S'inscrire</a>

                </div>
            </div>
        </div>
    </div>
</div>
