{% load staticfiles %}


<div class="section translucent-bg bg-csu darkblue object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="about" class="title text-center">Le Cabinet Start-Up</h1>
                <p class="lead text-center">Innover, créer, entreprendre.</p>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-3 hidden-phone hidden-tablet">
                        <img src="{% static "images/logo.png" %}" alt="Logo du Cabinet Start-Up">
                        <div class="space"></div>
                    </div>
                    <div class="col-md-8">
                        <p>
                            Le Cabinet Start-Up (CSU) est l'association qui a pour but de promouvoir l'entrepreneuriat à l'Ecole Polytechnique.
                            L’association a été créée en octobre 2013 grâce à l’impulsion d’un groupe d’élèves de la promotion 2012. Elle a connu un développement très rapide depuis.<br />
                            Nos deux champs d’action principaux sont :
                            <ul>
                                <li>L'organisation d'événements.<br />
                                    Nous organisons :
                                    <ul>
                                        <li>Des Startup Weekends (#SWX). Le dernier a eu lieu en décembre 2015, c'était le plus grand Startup Weekend à ce jour !</li>
                                        <li>Des hackathons pour le compte de grands groupes</li>
                                        <li>Des Start-Up Cafés. Mensuellement, nous invitons entre un et trois anciens polytechniciens entrepreneurs qui partagent pendant un déjeuner informel leurs expériences entrepreneuriales avec les étudiants.</li>
                                        <li>Enfin, nous organisons en avril prochain la seconde édition du WorkShop !</li>
                                    </ul>
                                </li>
                                <li>La communication.<br />
                                    Nous sommes le relais d'information auprès des étudiants concernant l'entrepreneuriat, aussi bien concernant les activités et événements internes à l'École (conférences, rencontres...) que sur les informations extérieures qui nous parviennent (concours, événements divers... ). Nous avons des contacts privilégiés avec le Pôle Entrepreneuriat et Innovation de l'École qui a des sources et des moyens de communications très complémentaires des nôtres.
                                </li>
                            </ul>
                            Le développement rapide que connaît le CSU est à l’image du dynamisme de l’entrepreneuriat à l’X. Il est la réponse étudiante à la nouvelle vision de la stratégie de l’École pour son avenir mais est également  une réponse à l’appétence croissante des élèves pour l’innovation et l’entrepreneuriat.<br /><br />
                            Le CSU a donc vocation à continuer son développement , à la fois en consolidant ses activités présentes et en initiant de nouveaux projets pour développer l’appétence entrepreneuriale des étudiants.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
