{% load staticfiles %}

<div class="section">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <h1 id="event"  class="text-center title">L'événement</h1>
        <div class="row">
            <div class="col-md-6">
                    <img src="{% static "images/network.jpg" %}" alt="network">
            </div>
            <div class="col-md-6">
                <p>« Get Started », c’est les nouvelles rencontres entre Start-Up et élèves de l’X organisé par le CSU.
                L’objectif : faire se rencontrer des Start-Up et des élèves désireux de trouver un stage ou intéressés par le monde de l’entrepreneuriat.
                Une vingtaine de Startups pour un événement à taille humaine, un environnement propice aux échanges informels, et des entrepreneurs désireux de se rapprocher des X. </p>

                <p>Tu n’as pas encore trouvé ton stage et tu aimerais le faire dans une Start-Up ? Tu te sens une âme d’entrepreneur ?
                Big Data, biomédical, Machine learning, réalité augmentée, optimisation financière, les domaines représentés sont divers et variés.
                Au cours de l’événement, tu pourras discuter avec les acteurs incontournables de la FrenchTech, en savoir plus sur les innovations de demain et peut-être trouver ton prochain stage.</p>
            </div>
        </div>
    </div>
</div>
