{% extends "event/base.html" %}
{% load staticfiles %}
{% block content %}

<div id="home" class="banner">
    <div class="banner-image"></div>
    <div class="banner-caption">
        <div class="container object-non-visible" data-animation-effect="fadeIn">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <img src="{% static "images/getstarted_complet.png" %}" alt="Get Started">
                      </div>
                    </div>

                    <h1 class="lead text-center" style="margin-bottom:0">LUNDI 15 FÉVRIER 2016</h1>
                    <p class="text-center smooth-scroll">
                        <a title="Comment s'y rendre ?" href="https://www.polytechnique.edu/fr/accesetorientation">École polytechnique, Palaiseau</a><br />
                    </p>
                    <br />
                    <a href="register" type="button" class="btn btn-success btn-lg ">S'inscrire</a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->

<!-- section start -->
<!-- ================ -->

<div class="section">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <div class="row">
            <div class="col-md-6">
                    <img src="{% static "images/network.jpg" %}" alt="network">
            </div>
            <div class="col-md-6">
                <h1 id="event"  class="text-center title">L'événement</h1>
                <p>« Get Started », c’est les nouvelles rencontres entre Start-Up et élèves de l’X organisé par le CSU.
                L’objectif : faire se rencontrer des Start-Up et des élèves désireux de trouver un stage ou intéressés par le monde de l’entrepreneuriat.
                Une vingtaine de Startups pour un événement à taille humaine, un environnement propice aux échanges informels, et des entrepreneurs désireux de se rapprocher des X. </p>

                <p>Tu n’as pas encore trouvé ton stage et tu aimerais le faire dans une Start-Up ? Tu te sens une âme d’entrepreneur ?
                Big Data, biomédical, Machine learning, réalité augmentée, optimisation financière, les domaines représentés sont divers et variés.
                Au cours de l’événement, tu pourras discuter avec les acteurs incontournables de la FrenchTech, en savoir plus sur les innovations de demain et peut-être trouver ton prochain stage.</p>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <h1 id="programme"  style="margin-bottom:20px" class="text-center title">Programme</h1>
        <div class="separator"></div>
            <div class="row">
                <div class="media">
                    <div class="media-body text-center">
                        <h4 class="media-heading">14h30 - 18h30</h4>
                        <p>Rencontres, entretiens et networking</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-center">
                        <h4 class="media-heading">18h30</h4>
                        <p>Cocktail prestige</p>
                    </div>
                </div>
            </div>
    </div>
</div>


<div class="section translucent-bg bg-csu darkblue object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="about" class="title text-center">Le Cabinet Start-Up</h1>
                <p class="lead text-center">Innover, créer, entreprendre.</p>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-3 hidden-phone hidden-tablet">
                        <img src="{% static "images/logo.png" %}" alt="Logo du Cabinet Start-Up">
                        <div class="space"></div>
                    </div>
                    <div class="col-md-8">
                        <p>
                            Le Cabinet Start-Up (CSU) est l'association qui a pour but de promouvoir l'entrepreneuriat à l'Ecole Polytechnique.
                            L’association a été créée en octobre 2013 grâce à l’impulsion d’un groupe d’élèves de la promotion 2012. Elle a connu un développement très rapide depuis.<br />
                            Nos deux champs d’action principaux sont :
                            <ul>
                                <li>L'organisation d'événements.<br />
                                    Nous organisons :
                                    <ul>
                                        <li>Des Startup Weekends (#SWX). Le dernier a eu lieu en décembre 2015, c'était le plus grand Startup Weekend à ce jour !</li>
                                        <li>Des hackathons pour le compte de grands groupes</li>
                                        <li>Des Start-Up Cafés. Mensuellement, nous invitons entre un et trois anciens polytechniciens entrepreneurs qui partagent pendant un déjeuner informel leurs expériences entrepreneuriales avec les étudiants.</li>
                                        <li>Enfin, nous organisons en avril prochain la seconde édition du WorkShop !</li>
                                    </ul>
                                </li>
                                <li>La communication.<br />
                                    Nous sommes le relais d'information auprès des étudiants concernant l'entrepreneuriat, aussi bien concernant les activités et événements internes à l'École (conférences, rencontres...) que sur les informations extérieures qui nous parviennent (concours, événements divers... ). Nous avons des contacts privilégiés avec le Pôle Entrepreneuriat et Innovation de l'École qui a des sources et des moyens de communications très complémentaires des nôtres.
                                </li>
                            </ul>
                            Le développement rapide que connaît le CSU est à l’image du dynamisme de l’entrepreneuriat à l’X. Il est la réponse étudiante à la nouvelle vision de la stratégie de l’École pour son avenir mais est également  une réponse à l’appétence croissante des élèves pour l’innovation et l’entrepreneuriat.<br /><br />
                            Le CSU a donc vocation à continuer son développement , à la fois en consolidant ses activités présentes et en initiant de nouveaux projets pour développer l’appétence entrepreneuriale des étudiants.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section" id="partenaires">
    <div class="container ">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="text-center">Nos partenaires</h1>
                    <img src="{% static "images/pei.png" %}" style="height: 100px; display: inline-block; margin: 10px;" />
                    <img src="{% static "images/kes.png" %}" style="height: 100px; display: inline-block; margin: 10px;" />
                    <img src="{% static "images/logo-x.jpg" %}" style="height: 100px; display: inline-block; margin: 10px;" />
                <br />
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="register_done" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                              <h1>Tu as été inscrit avec succès</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->

<!-- Modal -->
<div class="modal fade" id="already_registered" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                              <h1>Tu es déjà inscrit</h1>
                              Tu n'es pas {{request.session.firstname}} {{request.session.lastname}} ? Alors, <a href="{% url 'logout' %}">déconnecte-toi</a> de Frankiz et réssaye.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->


{% endblock %}
