{% load staticfiles %}


<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sponsors</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-6 col-md-12">
                    <div class="thumbnail">
                        <a href="http://cabinetstartup.fr">
                            <img src="{% static 'images/logo.png'%}" class="img-responsive img-rounded" alt="Logo de CSU">
                            <div class="caption">
                                <center><label>CSU</label></center>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
