{% load staticfiles %}

<div class="section" id="partenaires">
    <div class="container ">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="text-center">Nos partenaires</h1>
                    <img src="{% static "images/pei.png" %}" style="height: 100px; display: inline-block; margin: 10px;" />
                    <img src="{% static "images/kes.png" %}" style="height: 100px; display: inline-block; margin: 10px;" />
                    <img src="{% static "images/logo-x.jpg" %}" style="height: 100px; display: inline-block; margin: 10px;" />
                <br />
            </div>
        </div>
    </div>
</div>
