<div class="section">
    <div class="container">
        <h1 id="programme"  style="margin-bottom:20px" class="text-center title">Programme</h1>
        <div class="separator"></div>
            <div class="row">
                <div class="media">
                    <div class="media-body text-center">
                        <h4 class="media-heading">14h30 - 18h30</h4>
                        <p>Rencontres, entretiens et networking</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-center">
                        <h4 class="media-heading">18h30</h4>
                        <p>Cocktail prestige</p>
                    </div>
                </div>
            </div>
    </div>
</div>
