{% extends "event/base.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}



<div class="section">
    <div class="container text-center">
        <h1 class="text-center title" id="ateliers">Inscription</h1>
        <div class="separator"></div>
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% if hidden.errors %}
                {% for error in hidden.errors %}
                    <div class="alert alert-danger" role=alert>{{ error }}</div>
                {% endfor %}
            {% endif %}
            {% endfor %}

            {% for field in form.visible_fields %}

                <div class=form-group>
                    <div class='col-xs-6 col-sm-3 text-right'>{{ field.label_tag }}</div>
                    <div class='col-xs-12 col-sm-9'>
                        {{ field}}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="alert alert-warning" role=alert>{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

            {% endfor %}


            <button type="submit" class="btn btn-default text-center">Valider</button>
        </form>
    </div>
</div>
{% endblock %}
